* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.background-image {
    background: url("../images/cover.jpg") no-repeat;
    height: 130vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.web-text-hero {
    color: #fafafa;

}

.footer-details {
    background-color: rgb(228, 231, 211)
}

.gamer-tags li {
    list-style-type: none;
}

.social-tags li {
    list-style-type: none;
}
