@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header, body {
    font-family: 'Poppins', sans-serif;
}

header {
  background: linear-gradient(to bottom, #686767fa, #000000);
  display: flex;
  align-items: center;
}

.active {
    text-decoration: underline;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    z-index: 1;
}

.navbar-style {
  background: linear-gradient(to bottom, #686767fa, #000000);
}

.suggest-text {
    list-style-type: none;
    color: #fafafa;
}

.background-image {
    background: url("../images/controller.jpg") no-repeat;
    height: 90vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.web-text-place {
    text-align: center;
    top: 5px;
}

.web-text-hero {
    color: #fafafa;
    width: 200px;
    font-size: 30px;
    padding: 10px 10px;
    border: 2px ridge #fafafa;
    display: inline-block;
    background: rgba(15, 14, 14, 0.6);
}

.jumbotron {
    background-color: transparent;
}

footer {
    min-height: 120px;
    padding: 10px 15px;
    background: linear-gradient(180deg, #686767fa, #000000);
    color: #fafafa;
}

.icon-playstation {
    font-size: 22px;
    color: rgb(243, 40, 74);
}

.icon-xbox {
    font-size: 22px;
    color: #0e7a0d;
}

.icon-switch {
    font-size: 22px;
    color: #e08712;
}

.suggestion {
    background-color: #000000;
    border: 2px solid;
}

.modal-content {
    border: 2px solid #fafafa;
}

.modal-header, .modal-title {
    background-color: #0c0b0b;
}

.modal-title {
    color: #fafafa;
}

form {
    width: 100%;
    padding: 15px;
    background-color: #0c0b0b;
    color: #fafafa;
}

.close {
    color: #fafafa; 
}

.gamer-handle {
    display: block;
    clear: both;
}

.gamer-handle .console-platform,
.gamer-handle .console-id {
    display: inline-block;
}

.gamer-handle .console-platform p,
.gamer-handle .console-id p {
    margin: 2px;
}

.gamer-handle .console-platform {
    width: 30%;
    margin-right: 5px;
    padding-top: 5px;
    vertical-align: top;
}

.gamer-handle .console-platform p {
    font-weight: 300;
}

.gamer-handle .console-id {
    position: relative;
    width: 40%;
    margin-left: 10px;
    padding-top: 5px;
}

.social-tags li {
    list-style-type: none;
    margin-top: 10px;
}


.social-tags li a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    float: left;
    padding: 16px 0;
    color: #fafafa;
}

.social-follow {
    color: #f1d323;
}

.social-instagram {
    background: linear-gradient(210deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70%),
                linear-gradient(127deg, rgba(229, 9, 236, 0.8), rgba(229, 9, 236,0) 70%),
                linear-gradient(300deg, rgba(247, 144, 85, 0.8), rgba(247, 144, 85,0) 70%);
}

.social-twitter {
    background: #00acee;
}

.social-youtube {
    background: #FF0000;
}

.social-twitch {
    background: #9147ff;
}

.social-instagram:hover {
    background: rgba(235, 5, 204, 0.5);
}

.social-twitter:hover {
    background: rgba(5, 59, 235, 0.5);
}

.social-youtube:hover {
    background: rgba(245, 21, 21, 0.5);
}

.social-twitch:hover {
    background: rgba(214, 3, 186, 0.5);
}

.streams-playing {
    background: linear-gradient(180deg, #000000, #686767fa);
    width:100%;
}

/*-streams*/

.streams-upcoming {
    width: 40%;
}

.streams-heading {
    color: #fafafa;
    padding: 15px 15px;
    text-align: center;
}

.streams-info {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.streams-info th, .streams-info td {
    color: #fafafa;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.streams-info td {
    font-size: 16px;
}

.table-streams-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sims-image {
    box-shadow: 6px 6px 20px rgba(25, 212, 25, 0.877);
}

.lou-image {
    box-shadow: 6px 6px 20px rgba(182, 23, 12, 0.877);
}

.ac-image {
    box-shadow: 6px 6px 20px rgba(29, 124, 248, 0.877);
}

/*-playing*/

.playing {
    width: 50%;
}

.playing-heading {
    color: #fafafa;
    padding: 15px 15px;
    text-align: center;
}

.playing-info {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.playing-info th, .playing-info td {
    color: #fafafa;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.playing-info td {
    font-size: 16px;
}

.table-playing-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sackboy-image {
    box-shadow: 6px 6px 20px rgba(212, 25, 212, 0.877);
}

.spider-image {
    box-shadow: 6px 6px 20px rgba(241, 100, 90, 0.877);
}

.cyber-image {
    box-shadow: 6px 6px 20px rgba(252, 255, 55, 0.877);
}

